# Environment variables
.env

# Python virtual environments
venv/
env/
ENV/
*/venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Logs
*.log
logs/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
*.xml
coverage.xml
.hypothesis/
*.cover
